* {
    color: #1A1A1A;
}
.container {
    max-width: 1440px;
    margin: auto;
}

.hight {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 913px;
    padding-top: 17px;
}

.hight__one {
    display: flex;
}

.hight__one p{
    width: 292px;
    font-size: 12px;
    text-align: center;
    color: #808080;
}

.hight__one img{
    width: 15px;
    height: 18px;
}


.links {
    display: flex;
    gap: 15px;
}

.links__one {
    display: flex;
    align-items: center;
}

.links__two {
    display: flex;
}


.links__one p{
    color: #808080;
    width: 22px;
    height: 16px;
}

.links__two p{
    color: #808080;
    width: 22px;
    height: 16px;
}

.links__one img{
    width: 7px;
    height: 3.5px;
    margin-left: 6px;
}

.links__two img{
    width: 7px;
    height: 3.5px;
    margin-left: 6px;
}

.header {
    display: flex;
    justify-content: space-around;
    text-align: center;

    margin-top: 20px;
    gap: 265px;
}

.plant {
    text-align: center;
    display: flex;

    font-size: 32px;
}

.plant h1{
    color: #002603;
}



.plant__img {
    max-width: 32px;
    max-height: 32px;
    margin-top: 8px;
    margin-right: 5px;
}

.form {
    color: black;
    width: 410px;
}

.form input{
    width: 312px;
    height: 45px;
    padding: 10px;
    /* font-size: 17px; */
    border: 1px solid #999999;
    float: left;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form button{
    width: 98px;
    height: 45px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #00B207;
    color: white;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px solid grey;
    border-left: none; 
    cursor: pointer;
    text-align: center;
    padding-right: 10px;
}


.group {
    display: flex;
}

.group img{
    max-width: 40px;
    max-height: 40px;
    margin-right: 12px;
}

.p__one {
    color: #999999;
    font-size: 14px;
    padding-right: 14px;
}

.p__two {
    font-size: 20px;
    width: 146px;
    height: 30px;
    color: #1A1A1A;
}

.food {
    width: 312px;
    height: 560px;
}

.food__a {
    align-items: center;
    gap: 12px;
    width: 312px;
    height: 56px;
    color: black;
    display: flex;

    border: 1px solid rgb(167, 167, 167);
}

.food__a p{
    color: black;
    font-size: 14px;
}

.food__a img{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.vegetables {
}

/* Стили кнопки */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Контейнер выпадающего меню */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown p{
    color: black;
}

/* Содержимое выпадающего меню (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего меню */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета ссылок при наведении */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать меню при наведении на контейнер */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменение цвета кнопки при наведении */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}